<!DOCTYPE html>
<html style="height: 100%;">
  {{ partial "head" . }}
  <body style="height: 100%; margin: 0;">
      <div class="columns" style="height: 100%; margin: 0;">
        <div  class="column is-2 side-bar">
          <div id="top-cross-shadow">
          <div class="top-cross has-text-centered" id="left">
            <span id="title">Cyclomatic</span><br>
            <span id="title">Development</span>
          </div>
        </div>
        </div>
        <div class="column content-body" >
          <div id="top-cross-shadow">
            <div class="top-cross" id="right" style="height: 12.5%;">
            </div>
          </div>
        </div>
    </div>
  </body>
</html>